<h2>List of users</h2>
<p>Here you can view a list of users.</p>
<a class="btn btn-primary" click="showAddUserModal"><i class="fa fa-plus"></i> Add</a>
<table class="table table-borderless m-b-none">
    <thead>
    <tr>
        <th>User name</th>
        <th>E-mail</th>
        <th>Created At</th>

        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users">
        <td style="vertical-align: middle;">
            {{ user.name }}
        </td>
        <td style="vertical-align: middle;">
            {{ user.email }}
        </td>
        <td style="vertical-align: middle;">
            {{ user.created_at }}
        </td>
        <td style="vertical-align: middle;">
            <div class="btn-group">
                <a click="showEditUserModal(user)"
                   class="btn btn-default"><i
                        class="fa fa-edit"></i> Edit</a>
                <a click="showDeleteUserModal(user)"
                   class="btn btn-danger"><i
                        class="fa fa-remove"></i> Delete</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>


<!--<bootstrap-modal id="modal-edit-user">-->
    <!--<div slot="header">Edit User</div>-->
    <!--<div slot="content">-->
        <!--<form class="form-horizontal" role="form">-->

            <!--<div v-for="(fieldName, fieldIndex) in modal.fields" class="form-group">-->
                <!--<label :for="fieldIndex" class="col-md-3 control-label">{{fieldName}}</label>-->

                <!--<div class="col-md-7">-->
                    <!--<input v-if="fieldIndex.indexOf('password') === -1" type="text"-->
                           <!--class="form-control" v-model="modal.user[fieldIndex]"-->
                           <!--:name="fieldIndex" required>-->
                    <!--<input v-else type="password"-->
                           <!--class="form-control" v-model="modal.user[fieldIndex]"-->
                           <!--:name="fieldIndex" required>-->
                                    <!--<span v-if="modal.errors[fieldIndex]" class="help-block">-->
                                    <!--<strong> {{modal.errors[fieldIndex].join() }} </strong>-->
                                    <!--</span>-->
                <!--</div>-->
            <!--</div>-->

        <!--</form>-->
    <!--</div>-->
    <!--<div slot="footer">-->
        <!--<button click="handleEditUserModalSave" type="button" class="btn btn-primary">-->
            <!--Save-->
        <!--</button>-->
        <!--<button id="editModalCloseButton" type="button" class="btn btn-default" data-dismiss="modal">Close-->
        <!--</button>-->
    <!--</div>-->

<!--</bootstrap-modal>-->


<!--<bootstrap-modal id="modal-delete-user">-->
    <!--<div slot="header">Delete user</div>-->
    <!--<div slot="content">-->
        <!--<p>Are you sure?</p>-->
    <!--</div>-->
    <!--<div slot="footer">-->
        <!--<button click="handleUserModalDelete" type="button" class="btn btn-danger" data-dismiss="modal">-->
            <!--Delete-->
        <!--</button>-->
        <!--<button id="deleteModalCloseButton" type="button" class="btn btn-default" data-dismiss="modal">Close-->
        <!--</button>-->
    <!--</div>-->

<!--</bootstrap-modal>-->

